*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;

	--title-font: "Poppins", sans-serif;
	--title-font-weight: 700;
	--title-font-size: 3rem;

	--subtitle-font: "Roboto", sans-serif;
	--subtitle-font-weight: 600;
	--subtitle-font-size: 1.5rem;

	--code-text-font: "Courier Prime", monospace;

	--text-font: "Roboto", sans-serif;
	--text-font-weight: 300;
	--text-font-size: 1rem;

	--dark-color: #2d3748;
	--accent-color: #2b6cb0;
	--bg-light: #f0f4f7;
	--bg-dark: #303030;
}

body {
	font-family: var(--text-font);
	font-weight: var(--text-font-weight);
	font-size: var(--text-font-size);
	padding: 2rem;
	display: grid;
	gap: 2em;
	background-color: var(--bg-light);
}

h1 {
	font-family: var(--title-font);
	font-weight: var(--title-font-weight);
	font-size: var(--title-font-size);
	line-height: 2.6rem;
	margin-bottom: 0.5rem;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: var(--subtitle-font);
	font-weight: var(--subtitle-font-weight);
	font-size: var(--subtitle-font-size);
}

h2 {
	font-size: calc(var(--subtitle-font-size) * 1.2);
	text-decoration: dashed underline var(--accent-color);
	text-underline-offset: 5px;
	text-decoration-thickness: 1.5px;
}

h3 {
	font-size: calc(var(--subtitle-font-size) * 0.5);
	font-weight: calc(var(--subtitle-font-weight) * 0.8);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	color: var(--dark-color);
	text-decoration: none;
}

.code-text {
	font-family: var(--code-text-font);
	font-size: calc(var(--text-font-size) * 0.8);
}

.accent-text-color {
	color: var(--accent-color);
}

.profile-pic {
	max-width: 33%;
	height: auto;
	border-radius: 50%;
}

.date-container {
	padding-left: 6px;
	border-left: solid 3px var(--accent-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-subtitle {
	font-size: calc(var(--subtitle-font-size) * 0.7);
	font-weight: calc(var(--subtitle-font-weight) * 0.5);
}

.contact-info-container {
	margin-top: 1rem;
}

.contact-info-container a {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}

.contact-info-container a > i {
	color: var(--accent-color);
}

section {
	display: grid;
	gap: 0.6em;
}

section.parcours > article {
	display: flex;
	gap: 1em;
}

li {
	list-style: none;
}

.presentation p {
	max-width: 62ch;
	/* text-align: justify; */
	text-wrap: pretty;
}

.competences {
	display: grid;
}

.grid-carousel {
	max-width: 100%;
	display: grid;
	/* gap: 1rem; */
	grid-auto-flow: column;
	grid-auto-columns: 50%;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.grid-carousel > * {
	scroll-snap-align: start;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid-carousel img {
	max-width: 20%;
	height: auto;
}

.flexible-grid {
	display: flex;
	max-width: 60%;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: stretch;
}

.flexible-grid > * {
	flex: 1;
}

@media screen and (min-width: 760px) {
	header {
		flex-direction: row;
		gap: 1em;
		align-items: center;
		justify-content: center;
	}

	header > div {
		display: flex;
		flex-direction: column;
		flex-wrap: no-wrap;
	}

	.profile-pic {
		max-width: 10rem;
	}
}
